<table *ngIf="flights && flights.length > 0" class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Flight#</th>
        <th scope="col">Departure</th>
        <th scope="col">Origin</th>
        <th scope="col">Arrival</th>
        <th scope="col">Destination</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let flight of flights">
        <th scope="row">{{ flight.flightNumber }}</th>
        <td>{{ flight.departureDateTime | date: 'MM/dd/yy h:mm a' }}</td>
        <td>{{ flight.origin }}</td>
        <td>{{ flight.arrivalDateTime | date: 'MM/dd/yy h:mm a'}}</td>
        <td>{{ flight.destination }}</td>
      </tr>
    </tbody>
  </table>
